# Ignore node_modules directory
/node_modules

# Ignore build or dist directories (if you have a build process)
/build
/dist

# Ignore any .env files (sensitive environment variables)
.env

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log
node_modules
