.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout main {
    flex-grow: 1;
}

.dropdown-menu li {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -7px;
    margin-right: 4px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

.rounded-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

.rounded-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.rounded-checkbox input:checked ~ .checkmark {
    background-color: #2196f3;
    border: none;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.rounded-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.rounded-checkbox .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
}
